// =============================================================================
// COMPONENTS / ACCORDION
// BEM block: .accordion
// Elements: __title, __content, __icon-caret
// Modifiers: --open (on details)
// States: [open] (on details)
// =============================================================================

@use 'sass:map';

@use 'tools/mixins' as mix;
@use 'settings/spacing' as *;

@layer components {
  .accordion {
    --icon-height: calc(var(--font-heading-scale) * 0.6rem);
    --icon-size: calc(var(--font-heading-scale) * 2rem);
    --icon-margin: calc(var(--font-heading-scale) * 1rem - map.get($optical-adjust, 'sm'));

    margin-top: map.get($spacing, '10');
    margin-bottom: 0;

    @include mix.shadow-border;
    @include mix.shadow-transition;
    @include mix.concentric-radius('sm', map.get($spacing, '2'));

    summary {
      position: relative;
      display: flex;
      padding: map.get($spacing, '6') 0;
      line-height: 1;
    }

    .summary__title {
      display: flex;
      flex: 1;

      + .accordion__icon-caret {
        height: var(--icon-height);
      }
    }

    + .accordion {
      margin-top: 0;
    }

    &__title {
      display: inline-block;

      max-width: calc(100% - map.get($spacing, '24'));
      min-height: 1.6rem;
      margin: 0;

      word-break: break-word;
    }

    .svg-wrapper {
      align-self: center;

      width: var(--icon-size);
      height: var(--icon-size);
      margin-right: var(--icon-margin);

      fill: rgb(var(--color-foreground));
    }

    details[open] {
      .accordion__icon-caret {
        transform: rotate(180deg);
      }
    }

    &__content {
      overflow-x: auto;
      margin-bottom: map.get($spacing, '6');
      padding: 0 0.6rem;
      word-break: break-word;

      img {
        max-width: 100%;
      }
    }
  }
}
